{% extends 'base/main.html' %}

{% block content %}



<div class="middleKami">

<div id="search-add-wrapper">
    <form method="GET" style="margin-top: 20px; display: flex;">
        <input class="searcher" type="text" name="search-area" value="{{search_input}}">
        
        <input class="button" type="submit" value="Search">
    </form>
    
    <a id="add-link" href="{% url 'word-create' %}">Add a word  &#x2b;</a>
</div>


<div class="task-items-wrapper">
    {% for myword in mywords %}
        <div>
            
                <div class="word">
                    
                        <i><a href="{% url 'word-update' myword.id %}">{{myword}}</a></i>
                    
                </div>
                
                
            
        </div>

        {% empty %}
            <h2>No Items in list</h2>
    {% endfor %}
</div>
</div>
<style>
    .searcher{
        height: 50px;
        width:500px;

        font-family: inherit;
  
        border: 0;
        outline: 0;
        font-size: 1.3rem;
        color: white;
        padding: 7px 0;
        background: transparent;
        transition: border-color 0.2s;
        border-bottom: 2px solid gray;
    }
    .word a{
        text-decoration: none;
        color:black;
        font-size: 25px;
        font-weight: 700;
        font-family: 'Kiwi Maru', serif;
    }
    a{
        text-decoration: none;
        color:black;
    }
    a:hover{
        color: rgb(172, 172, 172);
    }
    .middleKami{
        width:800px;
        background-color: aquamarine;
        margin: 0 auto;
        padding:25px 25px 25px 25px;
    }
</style>

{% endblock %}


